{{> genericNavbar }}

<div class="container">
    <h1 align="center"> Cinemas Available </h1>
    <hr>
    {{#if user}}
        <div class="row">
            <div id="centerElement">
                <a class="btn btn-info" href="/cinemas/createCinema">Create Cinema</a>
            </div>
        </div>
    {{/if}}
    <div id="cinemaList" class="row">
        {{#each cinemas}}
            <div id="div{{name}}" class="col-3 mb-2 mt-3">
                <div id="cinemaCard {{name}}" class="card bg-light text-dark text-center">
                    <img class="card-img-top" src="/images/ticket.png"/>
                    <div class="card-body">
                        <h5 class="card-title"><strong> Name: </strong> {{name}} </h5>
                        <p class="card-text"><strong> City: </strong> {{city}} </p>
                        <p class="card-text"><strong> Rooms: </strong> {{rooms.length}} </p>
                        <a class="btn btn-info text-white" href="/cinemas/{{name}}">Go To Cinema</a>
                        {{#if ../user}}
                            <button class="btn btn-danger text-white mt-2" onclick="removeCinema('{{name}}') ">Delete Cinema
                            </button>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{> footer }}